BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Left
SpaceAfterCStyleCast: true
SpacesBeforeTrailingComments: 2
KeepEmptyLinesAtTheStartOfBlocks: false
